.data-collection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 640px) {
  .data-collection {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  .text-container h4 {
    font-size: 18px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.radio-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

.radio-container input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.radio-container span {
  margin-left: 5px;
}

.replace-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #d32f2f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.text-container {
  width: 100%;
  max-width: 200px;
  inline-size: 200px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.text-container h4 {
  font-size: clamp(18px, 1.5vw, 24px);
}

.text-container h5 {
  font-size: clamp(12px, 1.5vw, 20px);
}



